<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span>Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ book.title }}</span>
        </dd>
        <dt><span>Isbn</span></dt>
        <dd>
          <span>{{ book.isbn }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ book.description }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ book.content }}</span>
        </dd>
        <dt><span>Links</span></dt>
        <dd>
          <span>{{ book.links }}</span>
        </dd>
        <dt><span>Bookdate</span></dt>
        <dd>
          <span>{{ book.bookdate | formatMediumDate }}</span>
        </dd>
        <dt><span>Distributor</span></dt>
        <dd>
          <span>{{ book.distributor }}</span>
        </dd>
        <dt><span>Book Image</span></dt>
        <dd>
          <div *ngIf="book.bookImage">
            <a (click)="openFile(book.bookImage, book.bookImageContentType)">
              <img [src]="'data:' + book.bookImageContentType + ';base64,' + book.bookImage" style="max-width: 100%" alt="book image" />
            </a>
            {{ book.bookImageContentType }}, {{ byteSize(book.bookImage) }}
          </div>
        </dd>
        <dt><span>Book Pdf</span></dt>
        <dd>
          <div *ngIf="book.bookPdf">
            <a (click)="openFile(book.bookPdf, book.bookPdfContentType)">open</a>
            {{ book.bookPdfContentType }}, {{ byteSize(book.bookPdf) }}
          </div>
        </dd>
        <dt><span>Producer</span></dt>
        <dd>
          <span>{{ book.producer }}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
          <span *ngFor="let author of book.authors; let last = last">
            <a [routerLink]="['/author', author?.id, 'view']">{{ author.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
