<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span>Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ book.title }}</span>
        </dd>
        <dt><span>Isbn</span></dt>
        <dd>
          <span>{{ book.isbn }}</span>
        </dd>
        <dt><span>Bookdate</span></dt>
        <dd>
          <span>{{ book.bookdate | formatMediumDate }}</span>
        </dd>
        <dt><span>Distributor</span></dt>
        <dd>
          <span>{{ book.distributor }}</span>
        </dd>
        <dt><span>Producer</span></dt>
        <dd>
          <span>{{ book.producer }}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
          <span *ngFor="let author of book.authors; let last = last">
            <a [routerLink]="['/author', author?.id, 'view']">{{ author.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
