<div class="row justify-content-center" style="text-align: right">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading">تعديل او انشاء كتاب جديد</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ر.م</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">العنوان</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> يجب تعبئة البيانات. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isbn">Isbn</label>
          <input type="text" class="form-control" name="isbn" id="field_isbn" data-cy="isbn" formControlName="isbn" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">وصف الكتاب</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_content">المحتوي</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_links">رابط الكتاب</label>
          <input type="text" class="form-control" name="links" id="field_links" data-cy="links" formControlName="links" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bookdate">تاريخ الكتاب</label>
          <div class="input-group">
            <input
              id="field_bookdate"
              data-cy="bookdate"
              type="text"
              class="form-control"
              name="bookdate"
              ngbDatepicker
              #bookdateDp="ngbDatepicker"
              formControlName="bookdate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="bookdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('bookdate')!.invalid && (editForm.get('bookdate')!.dirty || editForm.get('bookdate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('bookdate')?.errors?.required"> يجب تعبئة البيانات. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_distributor">الموزعين</label>
          <input
            type="text"
            class="form-control"
            name="distributor"
            id="field_distributor"
            data-cy="distributor"
            formControlName="distributor"
          />
          <div *ngIf="editForm.get('distributor')!.invalid && (editForm.get('distributor')!.dirty || editForm.get('distributor')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('distributor')?.errors?.required">  يجب تعبئة البيانات. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bookImage">صورة الكتاب</label>
          <div>
            <img
              [src]="'data:' + editForm.get('bookImageContentType')!.value + ';base64,' + editForm.get('bookImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('bookImage')!.value"
              alt="book image"
            />
            <div *ngIf="editForm.get('bookImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('bookImageContentType')!.value }}, {{ byteSize(editForm.get('bookImage')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('bookImage', 'bookImageContentType', 'file_bookImage')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_bookImage" data-cy="bookImage" (change)="setFileData($event, 'bookImage', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="bookImage" id="field_bookImage" data-cy="bookImage" formControlName="bookImage" />
          <input
            type="hidden"
            class="form-control"
            name="bookImageContentType"
            id="field_bookImageContentType"
            formControlName="bookImageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bookPdf">Book Pdf</label>
          <div>
            <div *ngIf="editForm.get('bookPdf')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('bookPdf')!.value, editForm.get('bookPdfContentType')!.value)">open</a
              ><br />
              <span class="pull-left">{{ editForm.get('bookPdfContentType')!.value }}, {{ byteSize(editForm.get('bookPdf')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ bookPdf: null }); editForm.patchValue({ bookPdfContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_bookPdf" data-cy="bookPdf" (change)="setFileData($event, 'bookPdf', false)" />
          </div>
          <input type="hidden" class="form-control" name="bookPdf" id="field_bookPdf" data-cy="bookPdf" formControlName="bookPdf" />
          <input
            type="hidden"
            class="form-control"
            name="bookPdfContentType"
            id="field_bookPdfContentType"
            formControlName="bookPdfContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_producer">المنتجون</label>
          <input type="text" class="form-control" name="producer" id="field_producer" data-cy="producer" formControlName="producer" />
          <div *ngIf="editForm.get('producer')!.invalid && (editForm.get('producer')!.dirty || editForm.get('producer')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('producer')?.errors?.required">  يجب تعبئة البيانات. </small>
          </div>
        </div>

        <div class="form-group">
          <label for="field_authors">المؤلف</label>
          <select class="form-control" id="field_authors" data-cy="author" multiple name="authors" formControlName="authors">
            <option
              [ngValue]="getSelectedAuthor(authorOption, editForm.get('authors')!.value)"
              *ngFor="let authorOption of authorsSharedCollection; trackBy: trackAuthorById"
            >
              {{ authorOption.fullname }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
