<div style="text-align: right">
  <h2 id="page-heading" data-cy="AuthorHeading">
    <span>المؤلفين</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>تهيئة الجدول</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-author"
        [routerLink]="['/author/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>  مؤلف جديد </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="authors?.length === 0">
    <span>مؤلف غير موجود</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="authors && authors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ر.م</span></th>
          <th scope="col"><span>اسم المؤلف</span></th>
          <th scope="col"><span>رقم الهاتف</span></th>
          <th scope="col"><span>عنوانه</span></th>
          <th scope="col"><span>البريد الالكتروني</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/author', author.id, 'view']">{{ author.id }}</a>
          </td>
          <td>{{ author.fullname }}</td>
          <td>{{ author.phone }}</td>
          <td>{{ author.birthdate }}</td>
          <td>{{ author.email }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/author', author.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">عرض</span>
              </button>

              <button type="submit" [routerLink]="['/author', author.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">تعديل</span>
              </button>

              <button type="submit" (click)="delete(author)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">حذف</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
