<div class="row justify-content-center" style="text-align: right">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span>المستخدم</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span>Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge badge-success">Activated</span>
          <span *ngIf="!user.activated" class="badge badge-danger">Deactivated</span>
        </dd>

        <dt><span>الاسم الاول </span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>الاسم الاخير</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>البريد الالكتروني</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>انشات بواسطة</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span> تاريخ الانشاء</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>عدلت بواسطة</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>تاريخ التعديل</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>الصلاحيات</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>للخلف</span></button>
    </div>
  </div>
</div>
